@charset "utf-8";

/*-------------------------------------------------------------
  중간고사 CSS 
--------------------------------------------------------------*/

/* Common */
h1,h2,h3,h4,h5,h6{font-family:'NotoSansKR', sans-serif}

/* Main */
.main-txt{position:absolute;right:20%;top:50%;transform:translateY(-50%);color:#fff;text-align:center}
.main-txt .tit{font-size:40px}
.main .sec-cont h3{padding-bottom:0}
.desc{width:960px;margin:30px auto;text-align:center;font-size:14px;color:#707070}



/* Main-visual - Title font 사이즈는 40px로 한다 */
.main-visual li{position:relative;}
.main-visual dl{position: absolute; right: 20%; top: 50%; color: #fff; transform: translateY(-50%);color: #fff;}





/* Row2 - 섹션의 width는 1400px을 기준으로 한다 */
.row2{height:520px;padding:120px 0;background-color:#282A35}




/* Row3 - 빈 곳에 icon을 넣는다 & html에서 이미지도 교체한다 */
.row3{overflow:hidden}
.card-txt-wrap div{float:left;width:40px;height:40px;background:#FF5558 url() no-repeat center/cover;border-radius:2px}
.card-txt-wrap .ico1{background-image:url("../Img/ico-star.svg")}
.card-txt-wrap .ico2{background-image:url("../Img/bell-solid.svg");background-size:36%}
.card-txt-wrap .ico3{}
.card-txt-wrap .ico4{}



/* Footer - footer의 width는 1200px을 기준으로 한다 */
footer{height:270px;background:#eee;padding:50px 0;text-align:left}
footer>div{width:1200px;margin:0 auto}
.footer-cont p{line-height: 4em;border-top: 1px solid rgba(0,0,0,.1);font-size: 16px;}
.footer-cont p:first-child{border-top: none}
.footer-cont span{padding: 0 20px;display: inline-block;}
.footer-cont span:first-child{width: 20%;font-weight: bold;}
.footer-cont span:first-child::before{content: '';display: inline-block;width: 24px;height: 24px;background: url() no-repeat center/ 70%;vertical-align: middle;margin-top: -3px;margin-right: 10px;opacity: .7;}
.contact span:first-child::before{background-image: url("../Img/envelope-solid.svg");}
.phone span:first-child::before{background-image: url("../Img/phone-alt-solid.svg");}

/* Media Query - 원하는 부분 한 부분만 적용해도 인정. 단, font 요소들은 제외 */
@media only screen and (max-width:1280px) { 

}

@media only screen and (min-width:769px) and (max-width:1280px){ 

}

@media only screen and (max-width:768px){ 

}

@media only screen and (max-width:320px){ 

}
