@charset "utf-8";/* CSS Document */

.jd-slider, .jd-slider .slide-inner{overflow:hidden;position:relative;width:100%}
.jd-slider{margin:0 auto;padding:0}
.jd-slider .slide-area{width:100%;margin:0;padding:0}
.jd-slider .slide-area:after{display:block;content:'';clear:both}
.jd-slider .slide-area li{display:none;float:left;width:100%}
.jd-slider .slide-area li:first-child{display:block}
.jd-slider .slide-area li img{display:block;width:100%}
.jd-slider .next, .jd-slider .prev{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);color:#ccc}
.jd-slider .hidden.next, .jd-slider .hidden.prev{display:none}
.jd-slider .prev{left:0}
.jd-slider .next{right:0}
.jd-slider .controller{width:100%;text-align:center;margin:10px 0 0}
.jd-slider .controller .auto{display:inline-block;vertical-align:middle}
.jd-slider .controller .auto i{display:none;color:#999}
.jd-slider .controller .auto.pause .fa-pause, .jd-slider .controller .auto.play .fa-play{display:block;color:#666}
.jd-slider .controller .indicate-area{display:inline-block}
.jd-slider .controller .indicate-area a{display:inline-block;position:relative;width:16px;height:16px;margin:0 5px;font-size:0;color:transparent;vertical-align:middle}
.jd-slider .controller .indicate-area a:after{content:'';position:absolute;top:0;left:0;width:inherit;height:inherit;-webkit-box-sizing:border-box;box-sizing:border-box;border:4px solid #999;border-radius:50%}
.jd-slider .controller .indicate-area a.on:after{background-color:#999}
.jd-slider a{font-size:1.5rem}


/* Slider - Card Type*/
.jd-slider{width:1260px;margin:50px auto 100px}
.jd-slider .slide-inner{width:1200px;margin:0 auto}
.jd-slider .slide-inner::before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;z-index:0;/*border:1px solid #888*/}
.jd-slider .slide-area > li{width:25%;/*border-right:1px solid #888;border-left:0;*/box-sizing:border-box}
.jd-slider .slide-area > li > a{display:block;height:350px;margin:15px;border-radius:5px;box-shadow:0 7px 7px rgba(0,0,0,.10)}
.jd-slider .slide-area > li > a:hover{box-shadow:0 7px 10px rgba(0,0,0,.25)}
.jd-slider .slide-area > li > a img{height:260px;border-radius:5px 5px 0 0 }
.jd-slider .btn{position:absolute;top:50%;width:1260px;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.jd-slider .next:hover, .jd-slider .prev:hover{color:#999}
.card-txt-wrap{padding:20px;}
.card-txt-wrap div, .card-txt-wrap dl{display:inline-block}
.card-txt-wrap dl{margin-left:25px;width:calc(100% - 65px);font-size:15px;font-weight:700;}
.card-txt-wrap dt{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.card-txt-wrap dd{font-size:11px;color:#999;margin-top:3px}

/* Slider - Main */
.jd-slider.main-slider2{width:100%;margin:0}
.jd-slider.main-slider2 .slide-inner{width:100%;}
.jd-slider.main-slider2 .slide-area{overflow: hidden;}
.jd-slider.main-slider2 .slide-area > li{width:100%}
.jd-slider.main-slider2 .slide-area > li > a{height:500px;margin:0px;border-radius:0px;box-shadow:none}
.jd-slider.main-slider2 .slide-area > li > a:hover{box-shadow:none}
.jd-slider.main-slider2 .slide-area > li > a img{width:100%;height:auto;border-radius:0px; transform: translateY(-30%); }

.jd-slider.main-slider2 .next, .main-slider2 .prev{color:rgba(255, 255, 255, 0.4);padding: 20px;}
.jd-slider.main-slider2 .next:hover,.main-slider2 .prev:hover{color:rgba(255, 255, 255, 0.8);background-color: rgba(255,255,255,0.3);}

.main-slider2 .controller{position: absolute;bottom: 20px;}
.jd-slider .controller .indicate-area a{display:inline-block;position:relative;width:16px;height:16px;margin:0 5px;font-size:0;color:transparent;vertical-align:middle}
.jd-slider .controller .auto.pause .fa-pause, .jd-slider .controller .auto.play .fa-play{color:#fff}
.jd-slider .controller .indicate-area a:after{border:3px solid #fff;}
.jd-slider .controller .indicate-area a.on:after{background-color:#fff}
